{{ define "appointmentForm" }}
  {{ FormLabel "time" "Time" }}
  <input
    type="time"
    id="{{ FormInputId "time" }}"
    name="time"
    value="{{ .data.Time }}"
    class="{{ FormInputClass "time" .errors }}"
  >
  {{ FormErrors "time" .errors }}

  {{ FormLabel "weekday" "Weekday" }}
  <select
    id="{{ FormInputId "weekday" }}"
    name="weekday"
    class="form-select {{ FormInputClass "weekday" .errors }}"
  >
    {{range $index, $day := .weekdays}}
      <option value="{{ $index }}" {{ if eq $.data.Weekday $index }}selected{{ end }}>{{ $day }}</option>
    {{end}}
  </select>
  {{ FormErrors "weekday" .errors }}

  {{ FormLabel "reservation_reason" "Reservation reason (optional)" }}
  <input
    id="{{ FormInputId "reservation_reason" }}"
    name="reservation_reason"
    value="{{ .data.ReservationReason }}"
    class="{{ FormInputClass "reservation_reason" .errors }}"
  >
  {{ FormErrors "reservation_reason" .errors }}
  <div class="form-text">Users will need to confirm that the reservation is intended for them.</div>

  {{ .csrfField }}
{{ end }}
