{{ template "base.html" . }}
{{ define "title" }}Edit Profile - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <h1>
        Edit Profile
      </h1>
    </div>

    <form action="/delete-profile/" method="POST" class="confirm-submit">
      {{ .csrfField }}
      <button type="submit" class="btn btn-outline-danger">Delete profile</button>
    </form>

    <div class="callout callout-primary">
      <p><strong>Discord synchronization</strong></p>
      <ul>
        <li>Your Discord email address and avatar are automatically synchronized with our app each time you log in.</li>
        <li>Your display name is initially imported from Discord. After that, you can set your display name independently within this app.</li>
      </ul>
    </div>

    <form action="/edit-profile/" method="POST">
      {{ FormLabel "displayName" "Display Name" }}
      <input
        id="{{ FormInputId "displayName" }}"
        name="displayName"
        value="{{ .data.DisplayName }}"
        class="{{ FormInputClass "displayName" .errors }}"
      >
      {{ FormErrors "displayName" .errors }}

      {{ FormLabel "timezone" "Timezone" }}
      <select
        id="{{ FormInputId "timezone" }}"
        name="timezone"
        class="form-select bg-white {{ FormInputClass "timezone" .errors }}"
      >
        <option></option>
        {{ range .timezones }}
          <option {{ if eq $.data.Timezone . }}selected{{ end }}>{{ . }}</option>
        {{ end }}
      </select>
      {{ FormErrors "timezone" .errors }}

      {{ .csrfField }}

      <hr>
      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </form>

  </div>
{{ end }}
