{{ template "base.html" . }}
{{ define "title" }}Online Users{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">
      Online Users
      <small class="h4 fw-light">({{ len .users }})</small>
    </h1>

    {{ if .users }}
      {{ range .users }}
        <div class="list-group-item list-group-item-action bg-white p-3 my-3">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <user-avatar
                display-name="{{ .DisplayName }}"
                {{ if .ImageId.Valid }}
                  avatar-username="{{ .Username }}"
                {{ end }}
                size="40"
                class="me-3"
              ></user-avatar>

              <div>
                <div><a href="/profile/{{ .Username }}/" class="profile-link">{{ .DisplayName }}</a></div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    {{ else }}
      <p><em>No users are online.</em></p>
    {{ end }}
  </div>
{{ end }}
