{{ template "base.html" . }}
{{ define "title" }}{{ .entity.DisplayName }} - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="text-center">
      <div class="d-flex justify-content-center mb-4">
        <user-avatar
          display-name="{{ .entity.DisplayName }}"
          {{ if .entity.ImageId.Valid }}
            avatar-username="{{ .entity.Username }}"
          {{ end }}
          size="256"
        ></user-avatar>
      </div>
      <h1>
        {{ .entity.DisplayName }}
        <small class="h4 d-block fw-light">@{{ .entity.Username }}</small>
      </h1>

      <div>
        {{ if or (eq .entity.Id .user.Id) }}
          <a href="/edit-profile/" class="btn btn-outline-primary">Edit your profile</a>
        {{ end }}

        {{ if $.user.IsGranted "ADMIN" }}
          <a href="/admin/users/{{ .entity.Id }}/edit/" class="btn btn-outline-primary">Edit in admin section</a>
        {{ end }}
      </div>

      {{ with .stats }}
        <div class="mt-4 stats">
          <b>Walking</b>: {{ .Walking }} minutes<br>
          <b>Sitting</b>: {{ .Sitting }} minutes<br>
          <b>Sessions</b>: {{ .Sessions }}<br>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
