{{ template "base.html" . }}
{{ define "title" }}400 - Bad Request{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>400 - Bad Request</h1>

    <p>Sorry, something went wrong with your request. It seems there's an issue with the information provided.</p>

    <p>Please review the details and try again. If the problem persists, don't hesitate to reach out to our support team.</p>

    <p>Thank you for your patience.</p>
  </div>
{{ end }}
