{{ template "base.html" . }}
{{ define "title" }}403 - Forbidden{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>403 - Forbidden</h1>

    <p>You don't have access to this page.</p>

    <p>Thank you for your understanding.</p>
  </div>
{{ end }}
