{{ template "base.html" . }}
{{ define "title" }}404 - Not Found{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>404 - Not Found</h1>

    <p>The page you're looking for couldn't be found. It may be due to a mistyped URL or the page being moved.</p>

    <p>Please double-check the URL and try again. If the issue persists, please contact our support team.</p>

    <p>Thank you for your understanding.</p>
  </div>
{{ end }}
