{{ template "base.html" . }}
{{ define "title" }}Internal Server Error{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>Internal Server Error</h1>

    <p>Sorry, something went wrong on our end. We're working to fix the issue. Please try again later.</p>
  </div>
{{ end }}
