{{ template "base.html" . }}
{{ define "title" }}Banner{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <h1>
        Edit Notification Banner
      </h1>
    </div>

    <form action="/admin/banner/" method="POST">
      {{ FormLabel "banner" "Banner Text" }}
      <input
        id="{{ FormInputId "banner" }}"
        name="banner"
        value="{{ .banner }}"
        class="{{ FormInputClass "banner" .errors }}"
      >
      {{ FormErrors "banner" .errors }}
      <div class="form-text">The banner text is temporary and will reset upon server restart.</div>

      {{ $.csrfField }}

      <hr>
      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </form>

  </div>
{{ end }}
