:root {
	--bs-body-bg: #f4fafa;
	--bs-body-bg-rgb: 244, 250, 250;
	--bs-primary: #009688;
	--bs-primary-rgb: 0, 150, 136;
	--bs-link-hover-color-rgb: var(--bs-primary-rgb);
	--bs-link-hover-color: var(--bs-primary);
	--bs-link-color-rgb: var(--bs-primary-rgb);
	--bs-link-color: var(--bs-primary);
	--default-avatar-bg: #aaa;
	--lighten-amount-hover: 0.8;
	--lighten-amount-disabled: 0.4;
	--nav-hover-color: #f0f0f0;
}
