{{ template "base.html" . }}
{{ define "title" }}Appointments{{ end }}

{{ define "scripts" }}
  {{ GetJsAsset "assets/js/pages/appointment.js" }}
{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>Schedule for At-Home Meditation Course (Free)</h1>

    <div class="callout callout-primary collapse show">
      <p class="collapse-excerp">
        <a href="#" id="collapse-toggle" class="collapse-toggle" data-target=".callout" title="Toggle information" aria-label="Toggle information">
          <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
        </a>
        <strong>Information</strong> <span class="collapse-excerp-only">The at-home meditation course is for those practicing daily who would like to undertake a formal meditation course online from home. This course is also open to those who would like to learn to meditate.</span>
      </p>

      <div class="collapse-hidden">
        <p>The at-home meditation course is for those practicing daily who would like to undertake a formal meditation course online from home. This course is also open to those who would like to learn to meditate.</p>
        <p>The course usually lasts between 12-14 weeks.</p>
        <p class="info-heading">Expectations for the course:</p>
        <ul>
          <li>Read the <a href="https://htm.sirimangalo.org/" target="_blank">How to Meditate booklet</a> before the first appointment.</li>
          <li>
            During the course:
            <ul>
              <li>Do at least an hour of meditation per day (half walking and half sitting).</li>
              <li>Keep the <a href="https://www.sirimangalo.org/text/how-to-meditate/chapter-six-daily-life/" target="_blank">5 precepts</a>.</li>
              <li>Meet with the teacher once a week.</li>
            </ul>
          </li>
          <li>Gradually work towards meditating two hours per day by the end of the course.</li>
        </ul>

        <p>During meetings with the teacher:</p>
        <ul>
          <li>Tell the teacher about your experiences in terms of the <a href="https://www.sirimangalo.org/text/how-to-meditate/chapter-one-what-is-meditation/" target="_blank">four satipatthana</a> and how you noted them or if you forgot to note them.</li>
          <li>Do not discuss your life story or offer opinions that are not directly related to the practice.</li>
          <li>The teacher will ask you questions as needed.</li>
          <li>The teacher will give you new exercises (at times illustrated using videos/pictures).</li>
          <li>You will also get an opportunity to ask questions of the teacher.</li>
        </ul>

        <p>Signing up for the course:</p>
        <ul>
          <li>To sign up for the course, please visit <a href="/appointments/">the schedule page</a>.</li>
          <li>There might be multiple teachers who offer appointment slots, but you can only reserve one slot in total. Use the dropdown to switch to another teacher.</li>
        </ul>

        <p>Before your first appointment:</p>
        <ul>
          <li>Read all of the <a href="https://gitlab.com/sirimangalo/meditation-plus/-/wikis/Appointments" target="_blank">instructions in the Wiki</a> for starting the call.</li>
          <li>You will need to signup at Discord. Please use the following invite link to join the server: <a href="https://discord.gg/DYNamMF6Kg" target="_blank">https://discord.gg/DYNamMF6Kg</a></li>
          <li>You will need working headphones and a microphone (video camera is not required).</li>
          <li>Please check that the schedule shows times in your timezone. You can customize your timezone in the <a href="/profile/">profile settings</a>.</li>
        </ul>

        <p>For your weekly meetings:</p>
        <ul>
          <li>When the time for your meeting arrives, go to Discord and join the waiting room.</li>
          <li>Notify your teacher via the text channel if they don't approach you in time.</li>
          <li>Initiate the appointment yourself. You will not receive a call from the teacher.</li>
          <li>If you miss an appointment without notifying the teacher, your reservation will be cancelled.</li>
        </ul>
      </div>
    </div>

    <p>To set up an appointment:</p>

    <ul>
      <li>
        Choose a teacher using the dropdown below.
      </li>
      <li>
        Click on a box in the table, corresponding to a time convenient for you.
      </li>
      <li>
        The table shows appointments in your browser's timezone: <b>{{ .userTimezone }}</b>.
      </li>
      <li>
        You will meet the teacher at this time every week. You may change the time later on as needed.
      </li>
      <li>
        If you sign up <b>within {{ .minHoursBefore }} hours</b> before the appointment's time,
        <b>please wait one week</b> for the first appointment in this case.
      </li>
    </ul>

    <p><b>Please note:</b> The mobile Discord app does not work properly for the calls. Please try to only use a desktop client.</p>

    <hr>

    {{ with .userAppointment }}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="h3 card-title">Your appointment</h2>
          {{ $nextTime := GetNextAppointmentTime . $.now}}
          {{ if IsNextTimeSkipped . $nextTime }}
            <span>Please note that your course will start in <b>in one week</b>.</span>
          {{ end }}
          <p class="card-text">
            <h3 class="h4">{{ DisplayWeekdayInZone $nextTime $.userTimezone }}</h3>
            <b>{{ DisplayTimeInZone $nextTime $.userTimezone }} <span class="fw-light">{{ $.userTimezone }}</span></b><br>

            {{ with GetUpcomingTimeChanges . $.userTimezone  }}
              {{ range . }}
                <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                <i>changes to</i>
                {{ if .NewWeekday }}
                  <b>{{ .NewWeekday }},</b>
                {{ end }}
                <b>{{ .NewTime }}</b>
                <i>starting on</i>
                <b>{{ .StartingAt }}</b><br>
              {{ end }}
            {{ end }}

            <small>{{ DisplayTimeInZone $nextTime .Timezone }} <span class="fw-light">{{ .Timezone }}</span></small>
          </p>

          <form action="/appointments/unbook/{{ .Id }}/" method="POST" class="confirm-submit mt-2">
            {{ $.csrfField }}
            <button type="submit" class="btn btn-outline-danger">Cancel</button>
          </form>
        </div>
      </div>
    {{ end }}

    <label for="teachers"><b>Filter teacher</b></label>
    <select id="teachers" class="form-select bg-white">
      <option></option>
      {{ range .teachers }}
        <option>{{ .DisplayName }}</option>
      {{ end }}
    </select>

    <p class="mt-2">
      {{ if .user.IsGranted "TEACHER" }}
        <label><input type="checkbox" id="show-free"> Show free</label>
      {{ else }}
        <label><input type="checkbox" id="show-taken"> Show taken</label>
      {{ end }}
    </p>

    <div class="appointments">
      {{ $lastWeekday := "none" }}
      {{ range SortAppointments .appointments .userTimezone $.now }}
        {{ $nextTime := GetNextAppointmentTime .Appointment $.now}}
        {{ $currentWeekday :=  DisplayWeekdayInZone $nextTime $.userTimezone }}
        {{ if not (eq $lastWeekday $currentWeekday) }}
          {{ $lastWeekday = $currentWeekday }}
          {{ if not (eq $lastWeekday "none") }}
            </div>
          {{ end }}
          <h2 class="h4 mt-4 weekday-headline">{{ $currentWeekday }}</h2>
          <div class="weekday-appointments">
        {{ end }}
        <div class="container mb-1">
          <div class="appointment" data-teacher-name="{{ .TeacherName }}" data-taken="{{ .Appointment.UserId.Valid }}">
            <div class="row bg-white px-3 py-2">
              <div class="col align-items-start">
                <div class="d-flex align-items-center gap-2">
                  <user-avatar
                    display-name="{{ .TeacherName }}"
                    {{ if .TeacherImageID.Valid }}
                      avatar-username="{{ .TeacherUsername }}"
                    {{ end }}
                    size="16"
                  ></user-avatar>
                  <span>
                    {{ .TeacherName }}
                  </span>
                </div>

                <b>{{ DisplayTimeInZone $nextTime $.userTimezone }} <span class="fw-light">{{ $.userTimezone }}</span></b><br>

                {{ with GetUpcomingTimeChanges .Appointment $.userTimezone  }}
                  {{ range . }}
                    <i class="fas fa-clock fa-fw" aria-hidden="true"></i>
                    <i>changes to</i>
                    {{ if .NewWeekday }}
                      <b>{{ .NewWeekday }},</b>
                    {{ end }}
                    <b>{{ .NewTime }}</b>
                    <i>starting on</i>
                    <b>{{ .StartingAt }}</b><br>
                  {{ end }}
                {{ end }}

                <small>{{ DisplayTimeInZone $nextTime .Appointment.Timezone }} <span class="fw-light">{{ .Appointment.Timezone }}</span></small>
              </div>
              <div class="col align-items-end text-end align-self-center">
                {{ if .Appointment.UserId.Valid }}
                  {{ if or (eq .Appointment.UserId.Value $.user.Id) ($.user.IsGranted "ADMIN") (eq .Appointment.TeacherId $.user.Id) }}
                    <a href="/profile/{{ .UserName.Value }}/">{{ .UserDisplayName.Value }}</a>
                  {{ else }}
                    Taken
                  {{ end }}
                {{ else if and (eq $.userAppointment nil) .Appointment.ReservationReason.Valid }}
                  <form action="/appointments/book/{{ .Appointment.Id }}/" method="POST" class="confirm-submit" data-confirm-title="This slot is reserved. Are you sure?" data-confirm-message="Are you sure you want to take the reservation? Please confirm that it is intended for you. Reservation reason: {{ .Appointment.ReservationReason.String }}">
                    {{ $.csrfField }}
                    <button type="submit" class="btn btn-primary">
                      Use reservation
                    </button><br>

                    <small class="fw-light">Reserved</small>
                  </form>
                {{ else if eq $.userAppointment nil }}
                  <form action="/appointments/book/{{ .Appointment.Id }}/" method="POST" class="confirm-submit">
                    {{ $.csrfField }}
                    <button type="submit" class="btn btn-primary">Book</button>
                  </form>
                {{ end }}
              </div>
            </div>
            {{ if and (.Appointment.UserId.Valid) (eq .Appointment.TeacherId $.user.Id) }}
              <div class="row bg-white pb-2" data-teacher-name="{{ .TeacherName }}">
                <form action="/appointments/unbook/{{ .Appointment.Id }}/" method="POST" class="confirm-submit mx-3">
                  {{ $.csrfField }}
                  <button type="submit" class="btn btn-outline-danger">Remove User</button>
                </form>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}
