{{ template "base.html" . }}
{{ define "title" }}Login{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="row justify-content-md-center mt-5">
      <form class="col-md-7 col-lg-5" action="/auth/">
        <div class="text-center mb-5">
          <img class="logo" src="{{ GetAsset "assets/img/index-logo.svg" }}" aria-hidden="true" alt="">
        </div>
        <div class="card border-light shadow-sm">
          <div class="card-body p-5">
            <h1 class="mb-4 text-center">Meditation+</h1>

            <div class="text-center">
              <button class="btn btn-primary" type="submit">Login via Discord</button>

              <p class="mt-3"><small>Our meditation community is centered around Discord, and therefore, a login through this service is required. Be sure to join the <a href="https://discord.gg/DYNamMF6Kg" target="_blank">Sirimangalo Discord Server</a>.</small></p>
            </div>

          </div>
          <div class="card-footer text-bg-primary p-5">
            <h2>Welcome to our online meditation page!</h2>

            <p>The meditation we practice is based on the teachings found in <a href="https://htm.sirimangalo.org/" target="_BLANK" class="link-light">this booklet</a>.</p>

            <p>Please let us know you are here by submitting your intended time spent walking and sitting.</p>

            <p>If you have trouble logging in or experience other technical difficulties, please visit <a href="https://gitlab.com/sirimangalo/meditation-plus/wikis/Troubleshooting" target="_BLANK" class="link-light">our troubleshooting page</a>.</p>
          </div>
        </div>
        <p class="mt-4 text-center">
          <a href="/privacy/">Privacy Policy</a>
        </p>
      </form>
    </div>
  </div>
{{ end }}
