{{ template "base.html" . }}
{{ define "title" }}Privacy Policy{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="card border-light shadow-sm">
          <div class="card-body p-5">
            <h1 class="mb-4 text-center">Privacy Policy</h1>

            <p><strong>General</strong></p>
            <ul>
              <li>We take your data privacy very serious and conform to the GDPR</li>
              <li>We do not share your personal data with any third parties</li>
              <li>You can always remove your account and all data associated with it</li>
              <li>You can always edit or remove your profile information</li>
              <li>We use SSL/TSL encryption on the whole website to ensure data protection</li>
              <li>If you see any privacy issue, feel free to open an issue or write an email to <code>app-issues@sirimangalo.org</code>
              </li>
              <li>This is a special addition for the Meditation+ app. Please also read our general privacy policy: <a rel="nofollow noreferrer noopener" href="https://www.sirimangalo.org/info/our-privacy-policy/" target="_blank">https://www.sirimangalo.org/info/our-privacy-policy/</a>
              </li>
            </ul>

            <p><strong>Data we store about you</strong></p>
            <p>The following is a list of (meta-)data that might be stored about you when using our service. We categorized them by the purpose they're being used for.</p>
            <ul>
              <li>
              <strong>User identification:</strong>
              <ul>
                <li>Username</li>
                <li>Email address</li>
                <li>Discord ID</li>
              </ul>
            </li>
            <li>
              <strong>Account verification:</strong>
              <ul>
                <li>Email address</li>
              </ul>
            </li>
            <li>
              <strong>Profile information:</strong>
              <ul>
                <li>Name (optional/real name not required)</li>
                <li>Account settings (notifications, public email, bell, etc.)</li>
                <li>Voluntary information you add to your profile (country, website, timezone, description, discord profile picture, etc.)</li>
              </ul>
            </li>
            <li>
              <strong>Main features of the website:</strong>
              <ul>
                <li>Your meditation sessions (including timestamp and duration)</li>
                <li>Time of your last meditation</li>
                <li>Time of your last anumodanā</li>
                <li>Time you have been active recently</li>
                <li>Your meetings (including timestamp and chat messages) and regular appointments</li>
                <li>Feedback you have posted (your account is not associated in the database if you post the feedback anonymously)</li>
                <li>Your questions (including timestamp)</li>
              </ul>
            </li>
            <li>
              <strong>Server log files for error handling and security reasons</strong>
              <ul>
                <li>Browser type and browser version</li>
                <li>Operating system used</li>
                <li>Time of the server request</li>
              </ul>
            </li>
            </ul>
            <p><strong>Data we (intentionally) share about you with third parties</strong></p>
            <ul>
              <li>None</li>
            </ul>

            <p><strong>Third party services we use</strong></p>
            <ul>
              <li>We make use of some YouTube services (i.e. by including YouTube videos). We hereby refer to their terms and conditions, which can be found at <a rel="nofollow noreferrer noopener" href="https://www.youtube.com/t/terms" target="_blank">https://www.youtube.com/t/terms</a>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
