{{ template "base.html" . }}
{{ define "title" }}Welcome - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <h1>Welcome</h1>

    <div class="card my-4">
      <div class="card-body">
        <p>Welcome to Sirimangalo International's Meditation+ Web App! We're delighted to have you join our community.</p>

        <p>To get started, visit our <a href="https://gitlab.com/sirimangalo/meditation-plus/-/wikis/home" target="_blank">Help Page</a> for guidance and tips. Please note that we are currently in the process of updating the Help Page to reflect the new version.</p>

        <p>If you've previously used our Meditation+ Web App, please refer to our <a href="https://gitlab.com/sirimangalo/meditation-plus/-/wikis/Migration" target="_blank">Migration Guide</a> for instructions on transferring your meditation data.</p>

        <p>As this new web app is still in development, some features from the previous version may be unavailable or are currently in progress.</p>

      <p>To view planned features and track our progress, check out our version milestones: <a href="https://gitlab.com/sirimangalo/meditation-plus/-/milestones" target="_blank">https://gitlab.com/sirimangalo/meditation-plus/-/milestones</a>. If you encounter any issues, have a look at our <a href="https://gitlab.com/sirimangalo/meditation-plus/-/wikis/Troubleshooting" target="_blank">Troubleshooting Page</a>. We're happy to get your feedback of the new app at the <a href="https://discord.com/channels/155775474700779520/628342343065403424" target="_blank">#it-support Discord Channel</a>.</p>

        <p>Thank you for your patience and understanding as we work to enhance your experience.</p>
      </div>
    </div>

    <p><a href="/" class="btn btn-primary">Continue</a></p>
  </div>
{{ end }}
