{{- define "base" -}}
<!DOCTYPE html>
<html lang="en" data-version="{{ .appVersion }}">
  <head>
    <meta charset="UTF-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ GetAsset "favicon/apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ GetAsset "favicon/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ GetAsset "favicon/favicon-16x16.png" }}">
    <link rel="manifest" href="{{ GetAsset "favicon/site.webmanifest" }}">
    <link rel="mask-icon" href="{{ GetAsset "favicon/safari-pinned-tab.svg" }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ GetAsset "favicon/favicon.ico" }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ GetAsset "favicon/browserconfig.xml" }}">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ block "title" .}}Meditation+{{ end }}</title>

    {{ GetCssAssets "assets/js/main.js" }}
    {{ GetJsAsset "assets/js/main.js" }}
    {{ block "scripts" . }}{{ end }}
  </head>
  <body>
    <div class="w-100 h-100 d-flex flex-column">
      {{ template "header.html" . }}

      <div class="flex-fill py-4">
        <div class="container">
          {{ with .flashNotice }}
            <div class="alert alert-info" role="alert">
              {{ . }}
            </div>
          {{ end }}

          {{ with .flashWarn }}
            <div class="alert alert-warning" role="alert">
              {{ . }}
            </div>
          {{ end }}

          {{ with .flashError }}
            <div class="alert alert-danger" role="alert">
              {{ . }}
            </div>
          {{ end }}
        </div>

        {{ block "content" . }}{{ end }}
      </div>
    </div>
  </body>
  </html>
{{ end }}
