.user-avatar,
.user-avatar > img {
	width: 100%;
	height: 100%;
	border-radius: 160px;
}

.user-avatar-initials {
	flex: 1;
	text-align: center;
	color: #fff;
}

.user-avatar-initials.user-avatar-initials-empty {
	color: black;
}

.user-avatar-16 {
	width: 16px;
	height: 16px;

	& .user-avatar-initials {
		font-size: 0.8rem;
	}
}

.user-avatar-40 {
	width: 40px;
	height: 40px;

	& .user-avatar-initials {
		font-size: 0.8rem;
	}
}

.user-avatar-64 {
	width: 64px;
	height: 64px;

	& .user-avatar-initials {
		font-size: 0.8rem;
	}
}

.user-avatar-256 {
	width: 256px;
	height: 256px;

	& .user-avatar-initials {
		font-size: 5rem;
	}
}
