.btn-primary {
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: rgba(var(--bs-primary-rgb), var(--lighten-amount-hover));
	--bs-btn-hover-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-hover)
	);
	--bs-btn-active-bg: rgba(var(--bs-primary-rgb), var(--lighten-amount-hover));
	--bs-btn-active-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-hover)
	);
	--bs-btn-disabled-bg: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-disabled)
	);
	--bs-btn-disabled-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-disabled)
	);
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-bg: rgba(var(--bs-primary-rgb), var(--lighten-amount-hover));
	--bs-btn-hover-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-hover)
	);
	--bs-btn-active-bg: rgba(var(--bs-primary-rgb), var(--lighten-amount-hover));
	--bs-btn-active-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-hover)
	);
	--bs-btn-disabled-bg: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-disabled)
	);
	--bs-btn-disabled-border-color: rgba(
		var(--bs-primary-rgb),
		var(--lighten-amount-disabled)
	);
}

.start-meditation-btn {
	color: #fff;
	border-radius: 50%;
	border: 25px solid rgba(var(--bs-primary-rgb), 0.37);
	position: fixed;
	right: 10px;
	bottom: 10px;

	& > a {
		width: 40px;
		height: 40px;
		border: 0;
		border-radius: 50%;
		background: var(--bs-primary);
		color: #fff;
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 20%), 0 6px 10px 0
			rgba(0, 0, 0, 14%), 0 1px 18px 0 rgba(0, 0, 0, 12%);
		display: flex;
		align-items: center;
	}
}

.scroll-down-btn {
	position: fixed;
	right: 3vw;
	bottom: 100px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	font-size: 20px;
	background-color: rgba(var(--bs-primary-rgb), var(--lighten-amount-disabled));
	color: #fff;

	&:hover {
		.scroll-down-btn:hover {
			background-color: var(--bs-primary);
		}
	}
}
