.callout {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #e9ecef;
	border-left-width: .25rem;
	border-radius: .25rem;
	background: white;
}

.callout-primary {
	border-left-color: var(--bs-primary);
}

.callout-warning {
	border-left-color: var(--bs-warning);
}
