.circle {
	--circle-distance: -200px;
	--circle-animation: 2s;

	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	position: relative;
	height: calc(var(--circle-distance) * -3);
}

.circle-item {
	position: absolute;
	width: 90px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transform-origin: center;

	transform: rotate(var(--circle-deg)) translateY(var(--circle-distance))
		rotate(calc(var(--circle-deg) * -1));
	animation-name: circle;
	animation-duration: var(--circle-animation);
}

.short-profile-link {
	overflow: hidden;
	max-width: 180px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;

	animation-name: circle-text;
	animation-duration: var(--circle-animation);
}

@media only screen and (max-width: 1399px) {
	.circle {
		--circle-distance: -150px;
	}

	.short-profile-link {
		display: none;
	}
}

@media only screen and (max-width: 470px) {
	.circle {
		--circle-distance: -100px;
	}

	.short-profile-link {
		display: none;
	}
}

@keyframes circle {
	from {
		transform: rotate(0deg) translateY(var(--circle-distance)) rotate(0deg);
	}
	to {
		transform: rotate(var(--circle-deg)) translateY(var(--circle-distance))
			rotate(calc(var(--circle-deg) * -1));
	}
}

@keyframes circle-text {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.circle-item:nth-child(1) {
	--circle-deg: 0deg;
}
.circle-item:nth-child(2) {
	--circle-deg: -45deg;
}
.circle-item:nth-child(3) {
	--circle-deg: -90deg;
}
.circle-item:nth-child(4) {
	--circle-deg: -135deg;
}
.circle-item:nth-child(5) {
	--circle-deg: -180deg;
}
.circle-item:nth-child(6) {
	--circle-deg: -225deg;
}
.circle-item:nth-child(7) {
	--circle-deg: -270deg;
}
.circle-item:nth-child(8) {
	--circle-deg: -315deg;
}
