.collapse {
	text-overflow: ellipsis;
	overflow: hidden;
}
.collapse-hidden {
	display: none;
}
.collapse-excerp {
	display: inline;
	white-space: nowrap;
	cursor: pointer;
}
.collapse-open {
	& .collapse-hidden {
		display: block;
	}
	& .collapse-excerp {
		display: block;
		white-space: unset;
	}
	& .collapse-toggle svg {
		transform: rotate(90deg);
	}
	& .collapse-excerp-only {
		display: none;
	}
}
.collapse-toggle {
	text-decoration: none;
}
