.form-select {
	--bs-form-select-bg-img: url(../../img/caret-down-solid.svg);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
	background-image: url(../../img/triangle-exclamation-solid.svg);
}
