.home > .nav-pills {
	cursor: pointer;
	background: var(--bs-primary);

	--bs-nav-pills-border-radius: 0;
	--bs-nav-pills-link-active-bg: var(--bs-primary);
	--bs-nav-pills-link-active-color: #fff;
}

.home > .nav .nav-link {
	color: #fff;
	text-transform: uppercase;

	--bs-nav-link-color: var(--bs-primary);
	--bs-nav-link-hover-color: var(--bs-primary);
}

.home > .nav .nav-link.active {
	border-bottom: 3px solid #fff;
}
