.message-list a.list-group-item:hover {
	color: unset;
}

.message-item-separator {
	width: 100%;
	height: 0;
	border-bottom: 2px dashed;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	place-content: center;
}

.message-item-separator span {
	z-index: 999;
	background: #fff;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: grey;
	text-align: center;
	padding: 5px;
}

.message-username {
	text-decoration: none;
}

.message-country {
	width: 18px;
	height: 18px;
	margin: auto;
}

.message-inline-emoji {
	width: 22px;
	height: 22px;
	margin: -.2ex 0.15em .2ex;
}

.message-inline-mention {
	color: #000;
	font-weight: 700;
	text-decoration: none;
}

.message-inline-mention:hover {
	color: unset;
}
