.nav-item {
	color: black;
	text-decoration: none;

	&:hover {
		background: var(--nav-hover-color);
	}
}

.btn-close {
	--bs-btn-close-bg: none;
}

.admin-nav {
	& .nav-item {
		text-decoration: none;
		background: white;

		&:hover {
			background: var(--nav-hover-color);
		}
	}
}
