.progress-circle {
	--progress: 30%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
		conic-gradient(var(--bs-primary) var(--progress), #f0f0f0 0);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	& i,
	img {
		width: 30px;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
	}

	& span {
		font-size: 0.8rem;
	}
}
