@keyframes session-card-flyup {
	0% {
		bottom: -100%;
	}

	100% {
		bottom: 0;
	}
}

@keyframes session-card-appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.session-card-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	background: rgba(0, 0, 0, 33%);
	z-index: 1000;
	animation: session-card-appear 0.4s;
}

.session-card {
	max-width: 600px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999999999999;
	animation: session-card-flyup 0.4s;
	animation-fill-mode: forwards;
	padding: 0;

	& .nav-pills {
		cursor: pointer;
		margin-top: 4px;

		--bs-nav-pills-border-radius: 0;
		--bs-nav-pills-link-active-bg: #fff;
		--bs-nav-pills-link-active-color: #000;
	}

	& .nav-link.active {
		border-bottom: 3px solid var(--bs-primary);
	}

	& .nav-link {
		--bs-nav-link-color: var(--bs-primary);
		--bs-nav-link-hover-color: var(--bs-primary);
	}

	& .submit {
		width: 100%;
	}
}
