{{ define "activeSession" }}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-self-center order-lg-1 order-2">
        <div class="circle flex-1">
          {{ $cntSessions := len $.currentSessions }}
          {{ range $i, $number := .circles }}
            {{ if and (eq $i 7) (gt $.additionalCircles 0) }}
              <div class="circle-item">
                <user-avatar display-name="" size="64">+{{ $.additionalCircles}}</user-avatar>
              </div>
            {{ else if gt $cntSessions $i  }}
              {{ $entry := index $.currentSessions $i }}
              {{ with $entry }}
                <div class="circle-item">
                  <user-avatar
                    display-name="{{ .DisplayName }}"
                    {{ if .ImageId.Valid }}
                      avatar-username="{{ .UserName }}"
                    {{ end }}
                    size="64"
                  ></user-avatar>
                  <div><a href="/profile/{{ .UserName }}/" class="short-profile-link profile-link">{{ .DisplayName }}</a></div>
                </div>
              {{ end }}
            {{ else }}
              <div class="circle-item">
                <user-avatar display-name="" size="64"></user-avatar>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="col-lg-6 align-self-center text-center order-lg-2 order-1">
        {{ with .activeSession }}
          <div>
            <h2 class="status" data-session-id="{{ .Id }}" data-end-time="{{ FormatDateIso .End }}" data-walking="{{ .Walking }}" data-sitting="{{ .Sitting }}">Meditating</h2>
            <h3 id="timer"></h3>

            <div class="d-flex justify-content-center gap-2 my-5">
              <div class="progress-circle" id="walkingProgress">
                <i class="fas fa-person-walking fa-2x" aria-hidden="true"></i>
                <span id="walkingTimeLeft" class="fw-light"></span>
            </div>
              <div class="progress-circle" id="sittingProgress">
                <img src="{{ GetAsset "assets/img/sitting.svg" }}" aria-hidden="true" alt="">
                <span id="sittingTimeLeft" class="fw-light"></span>
              </div>
            </div>

            <form action="/stop/" method="POST" class="confirm-submit mb-4" id="endEarlyForm">
              {{ $.csrfField }}
              <button type="submit" class="btn btn-outline-primary">Finish early</button>
            </form>

            <a href="/" class="btn btn-primary d-none" id="endBtn">End</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
