{{ template "base.html" . }}
{{ define "title" }}Convert Session - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">Import Meditations from old app</h1>

    <div class="card">
      <div class="card-body">
        {{ if eq (len .sessions) 0 }}
          <p>No unimported meditation sessions have been found in the old app.</p>
        {{ else }}
          <p>We've found {{ if eq (len .sessions) 300 }}at least{{ end }} <b>{{ len .sessions }}</b> meditation sessions in the old app which seem to be missing in your current profile, starting from <b>{{ DisplayDatetime (index .sessions 0).Start }}</b>. You can import this data automatically.</p>

          <p>Importing your old meditation data will remove any meditations you have created in the new app <b>before the time of your account creation ({{ DisplayDatetime .user.CreatedAt }})</b>. Meditation data after your account creation date will be preserved.</p>

          <form action="/meditations/convert/" method="POST" class="confirm-submit" enctype="multipart/form-data" data-confirm-title="Are you sure?" data-confirm-message="This action will delete your meditation data before the time of your account creation in the new app (({{ DisplayDatetime .user.CreatedAt }})) and import the meditation data from the old app.">
            {{ .csrfField }}
            <button type="submit" class="btn btn-primary mt-2">Import</button>
          </form>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
