{{ template "base.html" . }}
{{ define "title" }}Import Session - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">Import Meditations from CSV</h1>

    <p>
      You can import your meditation sessions on this page using a CSV file. The format for the CSV file should be as follows:
    </p>

    <p><b>Start Time, End Time, Minutes Walking, Minutes Sitting</b></p>

    <p>
      Each value should be comma-separated. The dates should be formatted as RFC3339. This feature allows you to seamlessly transfer your meditation sessions from the old application. Simply upload your CSV file, and your sessions will be imported into this system.
    </p>

    <form action="/meditations/import/" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col">
          {{ FormLabel "file" "CSV File" }}
          <input
            type="file"
            id="{{ FormInputId "file" }}"
            name="file"
            class="{{ FormInputClass "file" .errors }}"
          >
          {{ FormErrors "file" .errors }}
        </div>
      </div>

      {{ .csrfField }}

      <hr>

      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Import</button>
      </div>
    </form>

  </div>
{{ end }}
