{{ template "base.html" . }}
{{ define "title" }}Meditation+{{ end }}

{{ GetCssAssets "assets/js/pages/meditation.js" }}

{{ define "scripts" }}
    {{ GetJsAsset "assets/js/components/timer.js" }}
    {{ GetJsAsset "assets/js/pages/meditation.js" }}
{{ end }}

{{ define "meditationListEntry" }}
  <div class="list-group-item list-group-item-action bg-white">
    <div class="d-flex w-100 justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <user-avatar
          display-name="{{ .DisplayName }}"
          {{ if .ImageId.Valid }}
            avatar-username="{{ .UserName }}"
          {{ end }}
          size="40"
          class="me-3"
        ></user-avatar>

        <div>
          <div><a href="/profile/{{ .UserName }}/" class="profile-link">{{ .DisplayName }}</a></div>
          {{ if gt .RemainingMinutes 0 }}
            <div><small>{{ .RemainingMinutes }}m left</small></div>
          {{ else }}
            <div><small>walking {{ .Walking }}m, sitting {{ .Sitting }}m</small></div>
          {{ end }}
        </div>
      </div>
      <div></div>
    </div>
  </div>
{{ end }}

{{ define "content" }}
  <div class="container">
    {{ with .banner }}
      <div class="callout callout-primary">
        {{ . }}
      </div>
    {{ end }}

    {{ if or (not .user.Timezone.Valid) (eq .user.Timezone.String "") }}
      <div class="callout callout-warning">
        Your profile is missing a timezone setting. Please visit <a href="/edit-profile/">your profile page</a> to select one.
      </div>
    {{ end }}

    {{ if .activeSession }}
      {{ template "activeSession" $ }}
    {{ else }}
      <template id="chart-data">
        {{ .stats }}
      </template>
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title text-center">
            <h3 class="h6 fw-light">Recent Meditations</h3>
          </div>
          <div>
            <canvas id="chart"></canvas>
          </div>
        </div>
      </div>

      <div id="daily-quote" class="callout collapse show">
        <p class="collapse-excerp">
          <a
            href="#"
            class="collapse-toggle"
            data-target=".callout"
            title="Toggle Daily Quote"
            aria-label="Toggle Daily Quote"
          >
            <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
          </a>
          <strong>Daily Quote</strong>
        </p>
        <div
          id="daily-quote-container"
          data-quotes-path="{{ GetAsset "data/daily-quotes.json" }}"
          class="collapse-hidden"
        >Loading...</div>
      </div>

      {{ with .currentSessions }}
        <h2 class="h4">Currently meditating</h2>
        <div class="list-group mb-4">
          {{ range . }}
            {{ template "meditationListEntry" . }}
          {{ end }}
        </div>
      {{ end }}

      {{ with .pastSessions }}
        <h2 class="h4">Finished meditating</h2>
        <div class="list-group mb-4">
          {{ range . }}
            {{ template "meditationListEntry" . }}
          {{ end }}
        </div>
      {{ end }}

      {{ if and (not .currentSessions) (not .pastSessions) }}
        <p><em>No recent meditation sessions.</em></p>
      {{ end }}

      <div class="start-meditation-btn">
        <a href="/start/" title="Start a meditation session" class="btn btn-primary">
          <i class="fas fa-clock" aria-hidden="true"></i>
          <span class="sr-only">Start a meditation session</span>
        </a>
      </div>
    {{ end }}
  </div>

  <div
    id="gotmpl-vars"
    data-empty-old-uid="{{ not .user.OldUserUid.Valid }}"
    data-bell1-path="{{ GetAsset "assets/audio/bell-1.mp3" }}"
    data-public-url="{{ .publicUrl }}"
  ></div>
{{ end }}
