{{ template "base.html" . }}
{{ define "title" }}Meditations{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">
      Meditations
      <small class="h4 fw-light">({{ .count }})</small>
    </h1>

    {{ if .meditations }}
      <div class="bg-white">
        <table class="table table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-end">Date</th>
            <th scope="col" class="d-none d-md-table-cell text-end">Walking (m)</th>
            <th scope="col" class="d-none d-md-table-cell text-end">Sitting (m)</th>
            <th scope="col" class="text-end">Action</th>
          </tr>
          {{ range .meditations }}
            <tr>
              <td>{{ .Id }}</td>
              <td class="text-end">{{ DisplayDatetime .Start }}</td>
              <td class="d-none d-md-table-cell text-end">{{ .Walking }}</td>
              <td class="d-none d-md-table-cell text-end">{{ .Sitting }}</td>
              <td class="text-end">
                <form action="/meditations/delete/{{ .Id }}/" method="POST" class="confirm-submit">
                  {{ $.csrfField }}
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              </td>
            </tr>
          {{ end }}
        </table>
      </div>
    {{ else }}
      <p><em>No meditations have been found.</em></p>
    {{ end }}


    <nav aria-label="Pagination">
      <ul class="pagination">
        {{ range .pages }}
          {{ if eq . 0 }}
            <li class="page-item"><span class="page-link">...</span></li>

          {{ else }}
            <li class="page-item"><a href="/meditations/?page={{ . }}" class="page-link {{ if eq $.page . }}active{{ end }}">{{ . }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
{{ end }}
