{{ template "base.html" . }}
{{ define "title" }}Log Session - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">Log a past Session</h1>

    <form action="/meditations/log/" method="POST">
      <div class="row">
        <div class="col">
          {{ FormLabel "start_date" "Start Date" }}
          <input
            type="date"
            id="{{ FormInputId "start_date" }}"
            name="start_date"
            value="{{ .data.StartDate }}"
            class="{{ FormInputClass "start_date" .errors }}"
          >
          {{ FormErrors "start_date" .errors }}
        </div>

        <div class="col">
          {{ FormLabel "end_date" "End Date" }}
          <input
            type="date"
            id="{{ FormInputId "end_date" }}"
            name="end_date"
            value="{{ .data.EndDate }}"
            class="{{ FormInputClass "end_date" .errors }}"
          >
          {{ FormErrors "end_date" .errors }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ FormLabel "start_time" "Start Time" }}
          <input
            type="time"
            id="{{ FormInputId "start_time" }}"
            name="start_time"
            value="{{ .data.StartTime }}"
            class="{{ FormInputClass "start_time" .errors }}"
          >
          {{ FormErrors "start_time" .errors }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ FormLabel "walking" "Walking (min)" }}
          <input
            type="number"
            id="{{ FormInputId "walking" }}"
            name="walking"
            value="{{ .data.MeditationStartRequest.Walking }}"
            max="300"
            class="{{ FormInputClass "walking" .errors }}"
          >
          {{ FormErrors "walking" .errors }}
        </div>

        <div class="col">
          {{ FormLabel "sitting" "Sitting (min)" }}
          <input
            type="number"
            id="{{ FormInputId "sitting" }}"
            name="sitting"
            value="{{ .data.MeditationStartRequest.Sitting }}"
            max="300"
            class="{{ FormInputClass "sitting" .errors }}"
          >
          {{ FormErrors "sitting" .errors }}
        </div>
      </div>

      {{ .csrfField }}

      <hr>

      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Log session</button>
      </div>
    </form>
  </div>
{{ end }}
