{{ template "base.html" . }}
{{ define "title" }}Login - Meditation+{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">Import Meditations from old app</h1>

    <div class="card">
      <div class="card-body">
          <p>Please login with your credentials from the old app:</p>

          {{ if .loginErr }}
            <div class="alert alert-danger">The provided credentials are invalid.</div>
          {{ end }}

          <form action="/meditations/convert/login/" method="POST">
            {{ FormLabel "username" "Username" }}
            <input
              id="{{ FormInputId "username" }}"
              name="username"
              value="{{ .data.username }}"
              class="{{ FormInputClass "username" .errors }}"
            >
            {{ FormErrors "username" .errors }}

            {{ FormLabel "password" "Password" }}
            <input
              type="password"
              id="{{ FormInputId "password" }}"
              name="password"
              value="{{ .data.password }}"
              class="{{ FormInputClass "password" .errors }}"
            >
            {{ FormErrors "password" .errors }}

            {{ .csrfField }}

            <button type="submit" class="btn btn-primary mt-2">Login</button>
          </form>
      </div>
    </div>
  </div>
{{ end }}
