{{ template "base.html" . }}
{{ define "title" }}Start session - Meditation+{{ end }}

{{ define "scripts" }}
    {{ GetJsAsset "assets/js/pages/meditation/form.js" }}
{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">Start a session</h1>

    <form action="/start/" method="POST">
      <div class="row">
        <div class="col">
          {{ FormLabel "walking" "Walking (min)" }}
          <input
            type="number"
            id="{{ FormInputId "walking" }}"
            name="walking"
            value="{{ .data.Walking }}"
            max="300"
            class="{{ FormInputClass "walking" .errors }}"
          >
          {{ FormErrors "walking" .errors }}
        </div>

        <div class="col">
          {{ FormLabel "sitting" "Sitting (min)" }}
          <input
            type="number"
            id="{{ FormInputId "sitting" }}"
            name="sitting"
            value="{{ .data.Sitting }}"
            max="300"
            class="{{ FormInputClass "sitting" .errors }}"
          >
          {{ FormErrors "sitting" .errors }}
        </div>
      </div>

      {{ .csrfField }}

      <div class="callout callout-primary show collapse collapse-open" id="nativeTimerCallout">
        <p class="collapse-excerp">
          <a href="#" id="collapse-toggle" class="collapse-toggle" data-target=".callout" title="Toggle information" aria-label="Toggle information">
            <i class="fas fa-chevron-right fa-fw" aria-hidden="true"></i>
          </a>
          <strong>Native Timer App</strong>
        </p>

        <div class="collapse-hidden">
          <p>Given the current limitations in web technology for creating a dependable timer, it's advisable to utilize a dedicated application for this purpose.</p>

          <p class="d-none" id="androidNativeTimer">
            It looks like you're using Android. You can download <a href="https://play.google.com/store/apps/details?id=org.yuttadhammo.BodhiTimer" target="_blank">Bodhi Timer</a> and check the box below to start the timer automatically. Currently, Bodhi Timer needs to be active in the background to receive the correct time.
          </p>
          <p class="d-none" id="iosNativeTimer">
            It looks like you're using iOS. You can download <a href="https://apps.apple.com/us/app/timer-multiple-timers/id391564049" target="_blank">Timer+</a> (not developed by Sirimangalo International) and check the box below to start the timer automatically. Currently, only an end bell will sound.
          </p>

          <p>
            <label><input type="checkbox" id="useNativeTimer"> Use native timer</label>
          </p>
        </div>
      </div>

      <hr>

      <div class="d-flex align-items-end gap-0 flex-column">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Start session</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-target=".dropdown-menu" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
        </div>
        <ul class="dropdown-menu bg-white position-inherit">
          <li><a href="/meditations/log/" class="dropdown-item">Log a past session</a></li>
          <li><a href="/meditations/import/" class="dropdown-item">Import session via CSV</a></li>
          <li><a href="/meditations/convert/" class="dropdown-item">Import session from the old app</a></li>
          <li><a href="/meditations/" class="dropdown-item">List sessions</a></li>
        </ul>
      </div>
    </form>

  </div>
{{ end }}
