{{ template "base.html" . }}
{{ define "title" }}Users{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <h1>
        Edit User
        <small class="h4 d-block fw-light">#{{ .entity.Id }}</small>
      </h1>
      <form action="/admin/users/{{ .entity.Id }}/delete/" method="POST" class="confirm-submit">
        {{ $.csrfField }}
        <p>
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </p>
      </form>
    </div>

    <p>
      Username<br>
      {{ .entity.Username }}
    </p>

    <p>
      Email address<br>
      {{ .entity.Email }}
    </p>

    <p>
      Upstream ID<br>
      {{ .entity.UpstreamId }}
    </p>

    <p>
      Last activity<br>
      {{ if .entity.LastActivity.Valid }}
        {{ DisplayDatetime .entity.LastActivity.Time }}
      {{ else }}
        -
      {{ end }}
    </p>

    <form action="/admin/users/{{ .entity.Id }}/edit/" method="POST">
      {{ template "userForm" . }}

      <hr>
      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </form>

  </div>
{{ end }}
