{{ template "base.html" . }}
{{ define "title" }}Users{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">
      Users
      <small class="h4 fw-light">({{ .count }})</small>
    </h1>

    <form action class="mb-3">
      <input class="form-control bg-white" name="q" value="{{ .search }}" placeholder="Search (Username, display name and email address)">
    </form>

    {{ if .users }}
      <div class="bg-white">
        <table class="table table-hover">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col" class="d-none d-md-table-cell">Display Name</th>
            <th scope="col" class="d-none d-md-table-cell">Email Address</th>
            <th scope="col">Role</th>
            <th scope="col" class="text-end">Created</th>
          </tr>
          {{ range .users }}
            <tr>
              <th scope="row">
                <a href="/admin/users/{{ .Id }}/edit/">{{ .Id }}</a>
              </td>
              <td>{{ .Username }}</td>
              <td class="d-none d-md-table-cell">{{ .DisplayName }}</td>
              <td class="d-none d-md-table-cell">{{ .Email }}</td>
              <td>{{ .Role }}</td>
              <td class="text-end">{{ DisplayDatetime .CreatedAt }}</td>
            </tr>
          {{ end }}
        </table>
      </div>
    {{ else }}
      <p><em>No users have been found.</em></p>
    {{ end }}


    <nav aria-label="Pagination">
      <ul class="pagination">
        {{ range .pages }}
          {{ if eq . 0 }}
            <li class="page-item"><span class="page-link">...</span></li>

          {{ else }}
            <li class="page-item"><a href="/admin/users/?page={{ . }}{{ with $.search }}&q={{ . }}{{ end }}" class="page-link {{ if eq $.page . }}active{{ end }}">{{ . }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
{{ end }}
