{{ template "base.html" . }}
{{ define "title" }}Appointments{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <h1>
        Edit Appointment
        <small class="h4 d-block fw-light">#{{ .appointment.Id }}</small>
      </h1>
      <form action="/admin/appointments/{{ .appointment.Id }}/delete/" method="POST" class="confirm-submit">
        {{ $.csrfField }}
        <p>
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </p>
      </form>
    </div>

    <form action="/admin/appointments/{{ .appointment.Id }}/edit/" method="POST">
      {{ template "appointmentForm" . }}

      <hr>
      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </form>

  </div>
{{ end }}
