{{ template "base.html" . }}
{{ define "title" }}Appointments{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">
      Appointments
      <small class="h4 d-block fw-light">Teachers</small>
    </h1>

    {{ range .teachers }}
      <nav class="d-flex flex-column admin-nav">
        <a class="nav-item py-3 px-4" href="/admin/appointments/{{ .Id }}/">{{ .DisplayName }}</a>
      </nav>
    {{ else }}
      <p><em>There are no teachers.</em></p>
    {{ end }}
  </div>
{{ end }}
