{{ template "base.html" . }}
{{ define "title" }}Appointments{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>
        Appointments
        <small class="h4 d-block fw-light">Teacher {{ .teacher.DisplayName }}</small>
      </h1>

      {{ if or (eq .user.Id .teacher.Id) (.user.IsGranted "ADMIN")  }}
        <p><a href="/admin/appointments/{{ .teacher.Id }}/new/" class="btn btn-primary">New</a></p>
      {{ end }}
    </div>

    {{ $lastWeekday := "" }}
    {{ range $outer := .appointments }}
      {{ with .Appointment }}
        {{ if not (eq $lastWeekday .Weekday.String) }}
          {{ $lastWeekday = .Weekday.String }}
          <h2 class="h4 mt-4 weekday-headline">{{ .Weekday.String }}</h2>
        {{ end }}
        <div class="container">
          <div class="appointment">
            <div class="row bg-white px-3 py-2">
              <div class="col align-items-start">
                <b>{{ printf "%.5s" .Time }} <span class="fw-light">{{ .Timezone }}</span></b><br>
              </div>
              {{ if or (eq .UserId.Value $.user.Id) (or ($.user.IsGranted "ADMIN") (eq .TeacherId $.user.Id)) }}
                <div class="col align-items-end text-end align-self-center">
                  <a href="/admin/appointments/{{ .Id }}/edit/">Edit</a>
                </div>
              {{ end }}
            </div>
            {{ if .UserId.Valid }}
              <div class="row bg-white px-3 pb-2 mb-1">
                <div class="col align-items-start text-start me-auto">
                  <i>booked by</i>
                  <a href="/profile/{{ $outer.UserName.Value }}/">{{ $outer.UserDisplayName.Value }}</a>
                  {{ if .BookedAt.Valid }}
                    <i>since {{ .BookedAt.Value.Format "01/02/2006" }}</i>
                  {{ end }}
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ else }}
      <p class="mt-4"><em>This teacher does not have appointments.</em></p>
    {{ end }}

  </div>
{{ end }}
