{{ template "base.html" . }}
{{ define "title" }}Appointments{{ end }}

{{ define "content" }}
  <div class="container">
    <h1 class="mb-4">
      New Appointment
      <small class="h4 d-block fw-light">Teacher {{ .teacher.DisplayName }}</small>
    </h1>

    <form action="/admin/appointments/{{ .teacher.Id }}/new/" method="POST">
      {{ template "appointmentForm" . }}

      <hr>

      <div class="d-flex align-items-center gap-3 flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-2">Save</button>
      </div>
    </form>

  </div>
{{ end }}
