{{ template "base.html" . }}
{{ define "title" }}Administration{{ end }}

{{ define "content" }}
  <div class="container">
    <nav class="d-flex flex-column admin-nav">
      {{ if or (.user.IsGranted "TEACHER") (.user.IsGranted "ADMIN")  }}
        <a class="nav-item py-3 px-4" href="/admin/appointments/">
          <span class="text-black">Appointments</span>
          <small class="d-block fw-light">Add, edit and remove appointment times.</small>
        </a>
      {{ end }}

      {{ if .user.IsGranted "ADMIN"  }}
        <a class="nav-item py-3 px-4" href="/admin/users/">
          <span class="text-black">Users</span>
          <small class="d-block fw-light">Edit and remove users.</small>
        </a>

        <a class="nav-item py-3 px-4" href="/admin/banner/">
          <span class="text-black">Notification</span>
          <small class="d-block fw-light">Edit and remove notification banner.</small>
        </a>
      {{ end }}
    </nav>
</div>
{{ end }}
