{{ define "userForm" }}
  {{ FormLabel "role" "Role" }}
  <select
    id="{{ FormInputId "role" }}"
    name="role"
    class="form-select {{ FormInputClass "role" .errors }}"
  >
      <option value="USER" {{ if eq $.data.Role "USER" }}selected{{ end }}>User</option>
      <option value="TEACHER" {{ if eq $.data.Role "TEACHER" }}selected{{ end }}>Teacher</option>
      <option value="ADMIN" {{ if eq $.data.Role "ADMIN" }}selected{{ end }}>Admin</option>
      <option value="ADMIN_TEACHER" {{ if eq $.data.Role "ADMIN_TEACHER" }}selected{{ end }}>Adminteacher</option>
  </select>
  {{ FormErrors "role" .errors }}

  {{ FormLabel "displayName" "Display Name" }}
  <input
    type="displayName"
    id="{{ FormInputId "displayName" }}"
    name="displayName"
    value="{{ .data.UserProfileRequest.DisplayName }}"
    class="{{ FormInputClass "displayName" .errors }}"
  >
  {{ FormErrors "displayName" .errors }}

  {{ FormLabel "timezone" "Timezone (optional)" }}
  <select
    id="{{ FormInputId "timezone" }}"
    name="timezone"
    class="form-select bg-white {{ FormInputClass "timezone" .errors }}"
  >
    <option></option>
    {{ range .timezones }}
      <option {{ if eq $.data.UserProfileRequest.Timezone . }}selected{{ end }}>{{ . }}</option>
    {{ end }}
  </select>
  {{ FormErrors "timezone" .errors }}

  {{ FormLabel "oldUserUid" "User ID in the old app (optional)" }}
  <input
    type="oldUserUid"
    id="{{ FormInputId "oldUserUid" }}"
    name="oldUserUid"
    value="{{ .data.OldUserUid }}"
    class="{{ FormInputClass "oldUserUid" .errors }}"
  >
  {{ FormErrors "oldUserUid" .errors }}

  {{ .csrfField }}
{{ end }}
