<div class="p-3 w-100 bg-primary d-flex align-items-center">
  {{ if .user }}
    <button type="button" class="sidebar-button btn btn-primary" id="menu-btn" aria-label="Open menu">
      <i class="fas fa-bars" aria-hidden="true"></i>
    </button>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      aria-labelledby="sidebarLabel"
      id="sidebar"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Navigation</h5>
        <button
          type="button"
          id="close-btn"
          class="btn-close d-flex align-items-center"
          aria-label="Close menu"
        >
          <i class="fas fa-times flex-grow-1" aria-hidden="true"></i>
        </button>
      </div>
      <nav class="d-flex flex-column">
        <a class="nav-item p-3" href="/"><i class="fas fa-home fa-fw" aria-hidden="true"></i> Home</a>
        {{ if or (.user.IsGranted "ADMIN") (.user.IsGranted "TEACHER") }}
          <a class="nav-item p-3" href="/admin/"><i class="fas fa-cog fa-fw" aria-hidden="true"></i> Administration</a>
        {{ end }}
        <a class="nav-item p-3" href="/profile/{{ .user.Username }}/"><i class="fas fa-user fa-fw" aria-hidden="true"></i> Profile</a>
        <a class="nav-item p-3" href="/appointments/"><i class="fas fa-clock fa-fw" aria-hidden="true"></i> At-Home Meditation Course</a>
        <a class="nav-item p-3" href="/logout/"><i class="fas fa-power-off fa-fw" aria-hidden="true"></i> Logout</a>
      </nav>
    </div>
  {{ end }}
  <span class="fs-5 text-white ms-2">Meditation+</span>

  {{ if .user }}
    <div class="ms-auto text-white">
      <a class="btn btn-primary" href="/online/"><i class="fas fa-users fa-fw" aria-hidden="true"></i> <span id="online-counter">0</span></a>
    </div>
  {{ end }}
</div>
